@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
	font-family:poppins;
}

body{
	background-color:#000033;
}
	
#wrapper{
	width:780px;
	margin:0 auto;
	overflow:hidden;
}
	
#header{
	background-color:#00001a;
	height:140px;
	padding:10px;
	margin:20px 0;
	coverflow: hidden;
}

#header img {
	 
	width:150px; 
	height:150px;
}

#menu-utama {
	margin-top:0px;
	list-style:none;
	}

#menu-utama li{
	float:left;
	background-color: #00001a;
	padding:8px 20px;
	border-right:1px solid #555555;
	}
	
#menu-utama li a{
	color:#FFFFFF;
	text-decoration:none;
	}

#menu-utama li a:hover{
	color:	#f5deb3;
	}

	
#menu-utama-footer {
	margin-top:0px;
	list-style:none;
	}

#menu-utama-footer li{
	float:left;
	background-color: #000033;
	padding:8px 20px;
	border-right:0px solid #555555;
	margin-left:60px;
	}
	
#menu-utama-footer li a{
	color:#FFFFFF;
	text-decoration:none;
	}

#menu-utama-footer li a:hover{
	color:	#f5deb3;
	}
	
	
	
	
	
	
	
#header form{
	float:right;
	margin-top:7px;
	margin-right:10px;
	}
	
#header form input{
	
	border:none;
	margin:2px;
	margin-top:0px;
	padding: 5px;
	}
	
#judul {
	background-color:#00001a;
	height:50px;
	padding:5px;
	margin:10px 0;
	coverflow: hidden;
	}
	
#judul h1{
	text-align:center;
	color:#FFF;
	font-size : 55px;
	}

#slide {
	background-color:#00001a;
	height:300px;
	padding:10px;
	margin:50px 0;
	coverflow: hidden;
}

#slide img{
	float:right;
	margin-right:0px;
	width:760px;
	height:300px;
}

#daftar-artikel{
	width:470px;
	float:right;
	margin-top:10px;
	}

#home-artikel-left{
	width:380px;
	float:left;
}

#home-artikel-right{
	width:380px;
	float:right;
}
	
.artikel{
	background:	#00001a;
	padding:10px;
	margin-bottom:20px;
	overflow:hidden;
	}
	
.artikel img{
	float:left;
	margin-right:10px;
	width:200px;
	height:165px;
}

.artikel-1 img{
	float:center;
	margin-right:90px;
	width:200px;
	height:165px;
}

.artikel-1 img{
	float:center;
	margin-right:90px;
	width:200px;
	height:165px;
}
.artikel-2 img{
	float:left;
	margin-right:10px;
	margin-left:0;
	width:50px;
	height:50px;
}

.artikel h1{
	color:#ffffff;
}

.artikel b{
	color:#ffffff;
	padding:3px;
	font-size:12px;
	font-weight:bold;
	margin-right:10px;
	}

.artikel li{
	margin-left:20px;
	color:#ffffff;
}

.artikel p{
	margin:10px 0;
	text-align:justify;
	color:#ffffff;
	}

.artikel-2 p{
	margin:10px 0;
	text-align:right;
	}
	
.artikel a{
	display:block;
	text-align:right;
	color:#636363;
	}
	
#homepage img{
	background:none;
	}
#sidebar {
	width:270px;
	float:left;
	margin-top:10px;
	}
	
#sidebar h2{
	margin-left:0px;
	font-size:18px;
	color : #ffffff;
	margin-bottom:15px;
	}
	
#sidebar p{
	line-height:20px;
	color:#636363;
	text-align:justify;
	}
	
#sidebar ul li a{
	color:#636363;
	text-decoration:none;
	}

#sidebar ul{
	color:#636363;
	text-decoration:none;
	margin-left:15px;
	}
	
#footer1{
	clear:both;
	height:70px;
	margin-bottom:10px;
	margin:10px 0;
	text-align:center;
	background-color:#E0FFFF;
	padding:5px;
	color:ffffff;
	}

#footer{
	clear:both;
	margin:20px 0;
	text-align:center;
	background-color:#000033;
	padding:10px;
	color:ffffff;
	}

#footer p{
	color:#FFFFFF;
	padding:20px;
	background-color:#00001a;
}

.form_contact {
	display: grid;
	grid-template-coloumns: 1fr 1fr;
	}

#next{
	clear:both;
	margin:15px 0;
	text-align:center;
	color:#8b7e66;
	}
	
#myform {
	display: grid;
	grid-template-coloumns: 1fr 1fr;
	grid-gap: 10px;
	}
	
.full-width{
	grid-columns: 1/2;
	}
	
.form_contact label{
	display: block;
	}
	
.form_contact p{
	margin: 0;
	}
	
.form_contact button, input, textarea{
	padding: 1em;
	}
	
.form_contact button{
	padding: 0em;
	}
	
button {
	background: #8b7e66;
	width: 20%;
	border: 100;
	}
	
button:hover, button:focus {
	background:#20B2AA;
	outline: 0;
	}
	
input:focus, textarea:focus {
	outline: 3px solid #87CEEB;
	}












#slidercontainer { 
  position: relative; 
  overflow: hidden; 
  background: #000 
}
#slidercontainer { 
  width: 760px;
  height: 300px; 
}
 
#css3slider img { 
  width: 768px;
  height: 300px; 
  float: left;
}
 
#css3slider { 
  position: absolute; 
  width:3900px;  
  -webkit-animation-name:slider;
  -webkit-animation-duration:15s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-name:slider;
  -moz-animation-duration:15s;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count:infinite;
  -o-animation-name:slider;
  -o-animation-duration:15s;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count:infinite;
  animation-name:slider;
  animation-duration:15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count:infinite;
}



@-webkit-keyframes slider {     
  0% { left: 0; opacity: 0; }     
  2% { opacity: 1; }     
  20% { left: 0; opacity: 1; }     
  21% { opacity: 0; }     
  24% { opacity: 0; }     
  25% { left: -768px; opacity: 1; }       
  45% { left: -768px; opacity: 1; }     
  46% { opacity: 0; }     
  48% { opacity: 0; }     
  50% { left: -1536px; opacity: 1; }     
  70% { left: -1536px; opacity: 1; }     
  72% { opacity: 0; }     
  74% { opacity: 0; }    
  75% { left: -2304px; opacity: 1; }   	
  95% { left: -2304px; opacity: 1; }   	
  97%  { left: -2304px; opacity: 0;}   	
  100% { left: 0; opacity: 0; }
} 
 
@-moz-keyframes slider {     
  0% { left: 0; opacity: 0; }     
  2% { opacity: 1; }     
  20% { left: 0; opacity: 1; }     
  21% { opacity: 0; }     
  24% { opacity: 0; }     
  25% { left: -768px; opacity: 1; }       
  45% { left: -768px; opacity: 1; }     
  46% { opacity: 0; }     
  48% { opacity: 0; }     
  50% { left: -1536px; opacity: 1; }     
  70% { left: -1536px; opacity: 1; }     
  72% { opacity: 0; }     
  74% { opacity: 0; }    
  75% { left: -2304px; opacity: 1; }   	
  95% { left: -2304px; opacity: 1; }   	
  97%  { left: -2304px; opacity: 0;}   	
  100% { left: 0; opacity: 0; }
} 
 
@-o-keyframes slider {     
  0% { left: 0; opacity: 0; }     
  2% { opacity: 1; }     
  20% { left: 0; opacity: 1; }     
  21% { opacity: 0; }     
  24% { opacity: 0; }     
  25% { left: -768px; opacity: 1; }     
  45% { left: -768px; opacity: 1; }     
  46% { opacity: 0; }     
  48% { opacity: 0; }     
  50% { left: -1536px; opacity: 1; }     
  70% { left: -1536px; opacity: 1; }     
  72% { opacity: 0; }     
  74% { opacity: 0; }    
  75% { left: -2304px; opacity: 1; }   	
  95% { left: -2304px; opacity: 1; }   	
  97%  { left: -2304px; opacity: 0; }   	
  100% { left: 0; opacity: 0; }
} 
 
@keyframes slider {     
  0% { left: 0; opacity: 0; }     
  2% { opacity: 1; }     
  20% { left: 0; opacity: 1; }     
  21% { opacity: 0; }     
  24% { opacity: 0; }     
  25% { left: -768px; opacity: 1; }     
  45% { left: -768px; opacity: 1; }     
  46% { opacity: 0; }     
  48% { opacity: 0; }     
  50% { left: -1536px; opacity: 1; }     
  70% { left: -1536px; opacity: 1; }     
  72% { opacity: 0; }     
  74% { opacity: 0; }    
  75% { left: -2304px; opacity: 1; }   	
  95% { left: -2304px; opacity: 1; }   	
  97%  { left: -2304px; opacity: 0; }   	
  100% { left: 0; opacity: 0; }
}



#css3slider:hover { 
  -webkit-animation-play-state:paused; 
  -moz-animation-play-state:paused; 
  -o-animation-play-state:paused; 
  animation-play-state:paused; }
}
 
#css3slider img { 
  float: right; 
}
 
#slidercontainer:after { 
  content: "❚❚"; 
  font-size: 150px; 
  position: absolute; 
  z-index: 12; 
  color: rgba(255,255,255, 0); 
  left: 300px; top: 80px; 
  -webkit-transition: 1s all ease-in-out; 
  -ms-transition: 1s all ease-in-out; 
  -moz-transition: 1s all ease-in-out; 
  -o-transition: 1s all ease-in-out; 
  transition: 1s all ease-in-out; 
}
 
#slidercontainer:hover:after { 
  color: rgba(255,255,255, 0.6);  
}